# Database connection string
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/payload-test
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=68f38a94e0c5a1b453577557
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000